* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'RubikWetPaint-Regular';
    src: url('./RubikWetPaint-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #121214;
    color: white;
    font-family: Arial, sans-serif; /* Добавим шрифт для лучшего отображения */
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Центрируем по вертикали */
}

h1 {
    font-size: 10vw; /* Размер шрифта */
    white-space: nowrap; /* Запрет на перенос строки */
    position: relative; /* Для позиционирования курсора */
}

.block {
    display: flex;
    width: 100%;
    height: 10.79688vw;
    align-items: center;
    justify-content: center;
}

.cursor {
    display: inline-block; /* Чтобы анимация работала */
    animation: blink 1s step-end infinite; /* Анимация мигания */
}

@keyframes blink {
    0% {
        opacity: 1; /* Полная видимость */
    }
    50% {
        opacity: 0; /* Полная невидимость */
    }
    100% {
        opacity: 1; /* Полная видимость */
    }
}

.glow {
    animation: glow-animation 0.18s ease-in-out infinite alternate; /* Применяем анимацию */
}

@keyframes glow-animation {
    0% {
        text-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white;
    }
    100% {
        text-shadow: 0 0 10px white, 0 0 20px white; /* Увеличиваем эффект свечения */
    }
}