* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  color: white;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.containerLogo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.cursor{
    z-index: 10;
    margin-right: -5.3vw;
    position: absolute;
    transition: transform 0.05s linear; /* Плавная анимация */
}

.curtain {
  position: absolute;
  margin-left: 10vw;
  height: 208px; /* Высота курсора */
  width: 58.36458vw;
  background-color: #121214; /* Цвет курсора */
  transition: transform 0.05s linear;
   /* Плавная анимация */
}

.Underline{
  position: absolute;
  color: #FF4747;
  background-color: #FF4747;
  z-index: 10;
  opacity: 0.5;
  width: 100vw;
  height: 13vw;
}

h1 {
  font-size: 10vw; /* Размер шрифта */
  white-space: nowrap; /* Запрет на перенос строки */
  position: relative; /* Для позиционирования курсора */
}

.block {
  display: flex;
  width: 100%;
  height: 10.79688vw;
  align-items: center;
  justify-content: center;
}

/*55*/
/*102*/

.Blinking {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
.cursor {
    display: inline-block; 
    animation: blink 1s step-end infinite; 
}

@keyframes blink {
    0% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

.glow {
    animation: glow-animation 0.18s ease-in-out infinite alternate;
}

@keyframes glow-animation {
    0% {
        text-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white;
    }
    100% {
        text-shadow: 0 0 10px white, 0 0 20px white; 
    }
}
*/
